:root {
  --day-background-start: #00bfff;
  --day-background-end: #aac3df;
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
}
input {
  border: none;
  border: 1px solid #8a8080;
  padding: 5px 15px;
  border-radius: 2.5px;
  letter-spacing: 1.5px;
  margin: 5px;
  background-color: rgba(242, 239, 230, 0.9);
}
input:active,
input:focus {
  border: unset;
  box-shadow: unset;
  outline: none;
}
.countries {
  display: inline-block;
  border-radius: 2.5px;
}
.hide {
  display: none;
}
#countryData {
  position: relative;
  top: -10px;
  list-style: none;
  /* box-shadow: 0px 0px 6px 0px #8a8080; */
  box-shadow: 0px 4px 13px grey;
  background-color: rgba(242, 239, 230, 0.7);
  border-radius: 2.5px;
  padding: 1px 1px;
  margin-left: 1rem;
  width: 70%;
  overflow-y: scroll;
}
.pickedLocationWeather {
  border-radius: 2.5px;
  padding: 1px 1px;
  margin: 3rem;
  padding: 1rem 1.5rem;
  height: max-content;
  width: max-content;
  background-color: rgba(242, 239, 230, 0.7);
}
#countryData li {
  padding: 5px 15px;
  border-radius: 2.5px;
  letter-spacing: 1px;
}
#countryData li:hover {
  background-color: rgba(242, 239, 230, 0.9);
}
.countries span {
  padding: 5px 15px;
  border-radius: 2.5px;
  letter-spacing: 1px;
}
picture {
  display: block;
  width: 80vw;
  height: 80vh;
  background-image: url("../assets/drizzle.webp");
  background-size: cover;
  border-radius: 2.5px;
}
.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.description img {
  padding: 0;
  width: 70px;
}
